html{
	background: #171717;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

a{
    color: #EDEDED;
    opacity: 0.7;
    text-decoration: none;
    transition: 0.3s;
    line-height:34px;
}

a:hover{
    opacity: 1;
}

.logo{
    font-size: 32px;
    font-family: 'Poppins';
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 50px;
    background-image: url(clapper.png);
    background-size: 40px 40px;
    background-position: 0px center;
    background-repeat: no-repeat;
}

.nav-main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #444444;
    height:8vh;
}

.nav-list {
    list-style: none;
    display:flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
    font-weight:bold;
    object-fit:contain;
}



header, footer{
   background:  #444444;
   height:8vh;
}

.content-nav{
    display: flex;
    justify-content: space-between;
    width: 1175px;
    margin: auto;
}

.imgwrapper{
    text-align: center;
}

.imagens_div{
    text-align: left;
    vertical-align: top;
    display: inline-block;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
}

.imagens_div img, .catalog_div img {
     display: block;
     border: 1px;
     border-radius: 10px;
     border-style: solid;
     border-color:#EDEDED;
     transition: transform 0.3s ease;
}
 
.imagens_div img:hover,.catalog_div img:hover {
    transform: scale(1.1);
    border-color: #DA0037;
}

.imagens_div img:hover ~ p{
    opacity: 1;
}

  .imagens_div p{
    line-height: 90px;
    color: #EDEDED;
    display: inline-flex;
    font-weight: bold;
    transition: opacity 0.3s ease;
    opacity: 0;
  }

  .floatright{
    float:right;
  }

  .a-nav-menu{
    padding-left:10px;
  }

  .dp-menu-left {
    display: block;
    margin-right: auto;
    width: 210px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: url(editar.png), url(seta-baixo.png);
    background-size: 20px 20px, 20px 20px;
    background-position: 150px center, 180px center;
    background-repeat: no-repeat;
}

.dp-menu-right {
    display: block;
    margin-left: 30px;
    width: 130px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: url(filtro.png), url(seta-baixo.png);
    background-size: 20px 20px, 20px 20px;
    background-position: 70px center, 100px center;
    background-repeat: no-repeat;
}

.dp-menu-left ul, .dp-menu-right ul{
    width: inherit;
    display: none;
    list-style: none;
    position:absolute;
    background-color: #444444;
    z-index: 5;
}

.dp-menu-left ul li, .dp-menu-right ul li{
    position: relative;
    font-size:small;
    padding-left: 10px;
    padding-top:5px;
    padding-bottom:5px;
}

.dp-menu-left:hover, .dp-menu-right:hover{
    background-color: #444444;
}

.dp-menu-left:hover ul, .dp-menu-right:hover ul{
    display: block;
}

  h2{
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .buscarstyle{
    opacity: 0.5;
    padding-left:10px;
    height: 30px;
    width: 150px;
    border-radius: 20px;
    background-image: url(pesquisa.png);
    background-size: 13px 13px;
    background-position: 135px center;
    background-repeat: no-repeat;
  }

  .buscarstyle:hover{
    opacity: 1;
  }

  .mobile-menu{
    cursor: pointer;
    display: none;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
}



input[type="checkbox"] {
    display: none;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    display: none;
    background: #fff;
    width: 410px;
    padding: 30px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    border-radius: 20px;
}

.container-mobile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    background: #fff;
    width: 410px;
    padding: 30px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    border-radius: 20px;
}

#show:checked ~ .container {
    display: block;
    z-index: 50;
}

#cadastrar:checked ~ .container {
    display: block;
    z-index: 50;
}

.container .close-btn {
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 35px;
    cursor: pointer;
    width: 20px;
    height: 20px;
}


.container .text, .container-mobile .text {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

.container form, .container-mobile form {
    margin-top: -20px;
}
.container form .data, .container-mobile form .data {
    height: 45px;
    width: 100%;
    margin: 40px 0;
}

form .data input {
    height: 100%;
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    border:1px solid silver;
}
form .data input:focus {
    border-color: #DA0037;
    border-bottom-width: 2px;
}

form .esqueceusenha {
    margin-top: -8px;
}

form .esqueceusenha a {
    color: #DA0037;
    text-decoration: none;
}

form .esqueceusenha a:hover {
    text-decoration: underline;
}



form .cadastrar a{
    color: #DA0037;
    text-decoration: none;
    padding-left: 5px;
}

form .cadastrar a:hover {
    text-decoration: underline; 
}

form .btn {
   margin: 30px 0;
   height: 45px;
   width: 100%; 
   position: relative;
   overflow: hidden;
}

form .btn .inner {
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    z-index: -1;
    background: -webkit-linear-gradient(right, #DA0037, #444444, #DA0037, #444444);
    transition: all 0.4s;
}

form .btn:hover .inner {
    left: 0;
}

form .btn  button {
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

form .signup-link {
    text-align: center;
}

form .signup-link a {
    color: #DA0037;
    text-decoration: none;
}

form .signup-link a:hover {
    text-decoration: underline;
} 

@media (max-width: 999px) {
    
    body {
        overflow-x: hidden;
    }

    .nav-list {
        display:none;
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 100%;
        background: #444444;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        z-index: 10;
    }
    .nav-list li {
        opacity: 1;
        margin-left: 0;
    }

    .mobile-menu {
        display: block;
    }
    
    .mobile-menu.open .nav-list{
        display: flex;
    }
}


.catalog-list{
    list-style: none;
}

.catalog_div{
    text-align: left;
    vertical-align: top;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

  .footerdiv{
    display: flex;
    flex-direction: column;
    min-height: 12vh;
  }

  footer{
    margin-top:3%;
 }