nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #444444;
    height:8vh;
}

.logo a{
    color: #EDEDED;
    font-size: 32px;
    font-family: 'Poppins';
    font-weight: bolder;
    text-decoration: none;
    letter-spacing: 4px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left: 50px;
    background-image: url(../images/clapper.png);
    background-size: 40px 40px;
    background-position: 0px center;
    background-repeat: no-repeat;
    opacity: 0.8;
    transition: 0.3s;
}

.nav-list {
    list-style: none;
    display: flex;
    letter-spacing: 3px;
    margin-left: 32px;
    line-height: 8vh;
    font-weight:bold;
    object-fit:contain;
}

.nav-list a {
    margin: 0 10px;
    padding: 5px;
    color: #EDEDED;
    opacity: 0.5;
    text-decoration: none;
    transition: 0.3s;
}

.nav-list a:hover, .logo a:hover, .logo .active, .nav-list .active {
    opacity: 1;
}

.mobile-menu{
    cursor: pointer;
    display: none;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #EDEDED;
    margin: 8px;
}


.search-bar{
    opacity: 0.5;
    padding-left:10px;
    height: 25px;
    width: 150px;
    border-radius: 20px;
    background-image: url(../images/pesquisa.png);
    background-size: 13px 13px;
    background-position: 135px center;
    background-repeat: no-repeat;
}

.search-bar:hover{
    opacity: 1;
}

.user-menu{
    color: #EDEDED;
    display: block;
    opacity: 0.7;
}

.user-menu:hover{
    opacity: 1;
}

.user-menu ul {
    width: inherit;
    display: none;
    list-style: none;
    position:absolute;
    background-color: #444444;
    z-index: 5;
}

.user-menu ul li {
    margin-left:0px;
    padding:10px;
    line-height:16px;
}

.user-menu:hover ul{
    display: block;
    width: 200px;
}

.user{
    text-transform: uppercase;
    cursor: pointer;
    padding-left:25px;
    padding-right:5px;
    background-image: url(../images/user.png);
    background-size: 20px 20px;
    background-position: 0px center;
    background-repeat: no-repeat;
}

.user-arrow{
    width: 10px;
    height: 10px;
    background-image:url(../images/seta-baixo.png);
    background-size: 10px 10px;
    background-position: 0px center;
    background-repeat: no-repeat;
}

.user-wrap{
    margin: 0 10px;
    padding-right:5px;
    padding-left:5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-options{
    cursor: pointer;
    font-size:small;
    letter-spacing: normal;
    font-weight: normal;
    line-height:12px;
}

.user-options:hover{
    background-color: #2E2E2E;
}

@media (max-width: 999px) {
    
    body {
        overflow-x: hidden;
    }

    .nav-list {
        display:none;
        position: absolute;
        top: 8vh;
        left: 0;
        width: 50vw;
        height: 100%;
        background: #444444;
        flex-direction: column;
        align-items: center;
        z-index: 10;
    }
    .nav-list li {
        margin-left: 0;
        padding-top: 50px;
        padding-bottom:50px;
    }

    .mobile-menu {
        display: block;
        order: 1;
    }

    .logo{
        order: 2;
    }

    .user-mobile{
        text-transform: uppercase;
        color: #EDEDED;
        opacity: 0.5;
        transition: 0.3s;
    }

    .mobile-search{
        width: 48px;
        height: 38px;
        display:flex;
        background-image: url(../images/pesquisa-mobile.png);
        background-size: 28px 28px;
        background-position: center;
        background-repeat: no-repeat;
        order:3;
    }

    .buscar-style{
        font-size:3vh;
        height: 5vh;
        width: 50vw;
        background-size: 28px 28px;
        background-position: 43vw center;
        background-repeat: no-repeat;
        order: 3;
    }
    
    .mobile-menu.open .nav-list{
        display: flex;
        margin-left: 0;
        margin-top: 0;
    }

}