html{
	background: #171717;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

a{
    color: #EDEDED;
    opacity: 0.7;
    text-decoration: none;
    transition: 0.3s;
    line-height:34px;
}

a:hover{
    opacity: 1;
}

.logo{
    font-size: 32px;
    font-family: 'Poppins';
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left: 50px;
    background-image: url(images/clapper.png);
    background-size: 40px 40px;
    background-position: 0px center;
    background-repeat: no-repeat;
}

.nav-main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #444444;
    height:8vh;
}

.nav-list {
    list-style: none;
    display:flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
    font-weight:bold;
    object-fit:contain;
}



header{
   background:  #444444;
   height:8vh;
}

h2{
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

.content-nav{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #444444;
    width: 58vw;
    margin-top: 8vh;
    margin-bottom: 15px;
}

.submenu-nav{
    display: inline-flex;
    align-items: center;
}

.imgwrapper{
    height: 80vh;
    text-align: center;
}

.serie-div{
    text-align: left;
    vertical-align: top;
    display: inline-block;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
}

.serie-div img, .catalog_div img {
     display: block;
     border: 1px;
     border-radius: 10px;
     border-style: solid;
     border-color:#EDEDED;
     transition: transform 0.3s ease;
}
 
.serie-div img:hover,.catalog_div img:hover {
    transform: scale(1.1);
    border-color: #DA0037;
}

.serie-div img:hover ~ p, .catalog_div:hover .status-bar, .catalog_div:hover .stream-status-bar{
    opacity: 1;
}

.serie-div p{
    line-height: 90px;
    color: #EDEDED;
    display: inline-flex;
    font-weight: bold;
    transition: opacity 0.3s ease;
    opacity: 0;
}

.status-bar{
    height: 60px;
    width: 170px;
    display: inline-flex;
    transition: opacity 0.3s ease;
    opacity: 0;
    background-image: url(images/olho.png), url(images/thumb-up.png), url(images/thumb-down.png), url(images/bookmark.png);
    background-size: 20px 20px;
    background-position: 0px center, 50px center, 100px center, 150px center;
    background-repeat: no-repeat;
}

.stream-status-bar{
    height: 60px;
    width: 252px;
    display: inline-flex;
    transition: opacity 0.3s ease;
    opacity: 0;
    background-image: url(images/coracao.png);
    background-size: 20px 20px;
    background-position: center;
    background-repeat: no-repeat;
}

.like-percentage{
    float:right;
    padding-left: 30px;
    padding-right: 30px;
    background-image: url(images/thumb-up.png);
    background-size: 20px 20px;
    background-position: 70px center;
    background-repeat: no-repeat;
}

.a-nav-menu{
    padding-left:10px;
}

.admin{
    line-height: 8vh;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:30px;
    padding-right:30px;
    background-image: url(images/user.png), url(images/seta-baixo.png);
    background-size: 25px 25px, 10px 10px;
    background-position: 0px, 110px center;
    background-repeat: no-repeat;
}

.admin-mobile{
    padding-top:10px;
    padding-bottom:10px;
    padding-left:30px;
    background-image: url(images/user.png);
    background-size: 25px 25px;
    background-position: 0px, center;
    background-repeat: no-repeat;
}

.nav-options{
    line-height:8vh;
}

.dp-menu-admin {
    display: block;
}

.dp-menu-admin ul {
    width: inherit;
    display: none;
    list-style: none;
    position:absolute;
    background-color: #444444;
    z-index: 5;
}

.dp-menu-admin:hover ul{
    display: block;
    width: 200px;
}

.dp-menu-admin ul li {
    margin-left:0px;
    padding:10px;
    line-height:16px;
}

.admin-options{
    font-size:small;
    letter-spacing: normal;
    font-weight: normal;
    line-height:12px;
}

.dp-menu-left {
    display: block;
    margin-right: auto;
    width: 210px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: url(images/editar.png), url(images/seta-baixo.png);
    background-size: 20px 20px;
    background-position: 150px center, 180px center;
    background-repeat: no-repeat;
}

.dp-menu-right {
    display: block;
    margin-left: auto;
    width: 130px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: url(images/filtro.png), url(images/seta-baixo.png);
    background-size: 20px 20px, 20px 20px;
    background-position: 70px center, 100px center;
    background-repeat: no-repeat;
}

.dp-menu-left ul, .dp-menu-right ul{
    width: inherit;
    display: none;
    list-style: none;
    position:absolute;
    background-color: #444444;
    z-index: 5;
}

.dp-menu-left ul li, .dp-menu-right ul li {
    position: relative;
    font-size:small;
    padding-left: 10px;
    padding-top:5px;
    padding-bottom:5px;
}

.dp-menu-left:hover, .dp-menu-right:hover{
    background-color: #444444;
}

.dp-menu-left:hover ul, .dp-menu-right:hover ul{
    display: block;
}

.dp-menu-admin ul li:hover, .dp-menu-left ul li:hover, .dp-menu-right ul li:hover{
    background-color: #2E2E2E;
}

.available-on{
    position: relative;
    color: #EDEDED;
    background-color: #171717;
    border-style: solid;
    border-width: 1px;
    border-color:#444444;
    padding-left: 10px;
    padding-top:5px;
    padding-bottom:5px;
}

  .buscar-style{
    opacity: 0.5;
    padding-left:10px;
    height: 30px;
    width: 150px;
    border-radius: 20px;
    background-image: url(images/pesquisa.png);
    background-size: 13px 13px;
    background-position: 135px center;
    background-repeat: no-repeat;
  }

  .buscar-style:hover{
    opacity: 1;
  }

  .mobile-search{
    display:none;
  }

  .mobile-menu{
    cursor: pointer;
    display: none;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #EDEDED;
    margin: 8px;
}

.hide-checkbox {
    display: none;
}

.multiple-choice{
    font-size: smaller;
    display: inline-flex;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    display: none;
    background: #EDEDED;
    width: 410px;
    padding: 30px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    border-radius: 20px;
}

.container-mobile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    background: #EDEDED;
    width: 410px;
    padding: 30px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    border-radius: 20px;
}

#show:checked ~ .container, #cadastrar:checked ~ .container,
 #add-serie:checked ~ .container, #edit-serie:checked ~ .container, #del-serie:checked ~ .container, 
 #add-plataforma:checked ~ .container, #edit-plataforma:checked ~ .container, #del-plataforma:checked ~ .container {
    display: block;
    z-index: 50;
}


.container .close-btn {
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 35px;
    cursor: pointer;
    width: 20px;
    height: 20px;
}


.container .text, .container-mobile .text {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

.container form, .container-mobile form {
    margin-top: -20px;
}
.container form .data, .container-mobile form .data {
    height: 45px;
    width: 100%;
    margin: 40px 0;
}

form .data input {
    height: 100%;
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    border:1px solid silver;
}
form .data input:focus {
    border-color: #DA0037;
    border-bottom-width: 2px;
}

form .esqueceusenha {
    margin-top: -8px;
}

form .esqueceusenha a {
    color: #DA0037;
    text-decoration: none;
}

form .esqueceusenha a:hover {
    text-decoration: underline;
}

form .cadastrar a, 
form .add-serie a, form .edit-serie a, form .del-serie a, 
form .add-plataforma, form .edit-plataforma, form .del-plataforma{
    color: #DA0037;
    text-decoration: none;
    padding-left: 5px;
}

form .cadastrar a:hover, 
form .add-serie a:hover, form .edit-serie a:hover, .del-serie a:hover, 
form .add-plataforma a:hover, form .edit-plataforma a:hover, form .del-plataforma a:hover{
    text-decoration: underline; 
}

form .btn {
   margin: 30px 0;
   height: 45px;
   width: 100%; 
   position: relative;
   overflow: hidden;
}

form .btn .inner {
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    z-index: -1;
    background: -webkit-linear-gradient(right, #DA0037, #444444, #DA0037, #444444);
    transition: all 0.4s;
}

form .btn:hover .inner {
    left: 0;
}

form .btn  button {
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    color: #EDEDED;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

form .signup-link {
    text-align: center;
}

form .signup-link a {
    color: #DA0037;
    text-decoration: none;
}

form .signup-link a:hover {
    text-decoration: underline;
} 

@media (max-width: 999px) {
    
    body {
        overflow-x: hidden;
    }

    .nav-list {
        display:none;
        position: absolute;
        top: 8vh;
        left: 0;
        width: 50vw;
        height: 100%;
        background: #444444;
        flex-direction: column;
        align-items: center;
        z-index: 10;
    }
    .nav-list li {
        margin-left: 0;
        padding-top: 50px;
        padding-bottom:50px;
    }

    .mobile-menu {
        display: block;
        order: 1;
    }

    .logo{
        order: 2;
    }

    .mobile-search{
        width: 48px;
        height: 38px;
        display:flex;
        background-image: url(images/pesquisa-mobile.png);
        background-size: 28px 28px;
        background-position: center;
        background-repeat: no-repeat;
        order:3;
    }

    .buscar-style{
        font-size:3vh;
        height: 5vh;
        width: 50vw;
        background-size: 28px 28px;
        background-position: 43vw center;
        background-repeat: no-repeat;
        order: 3;
    }
    
    .mobile-menu.open .nav-list{
        display: flex;
    }

}

.login-cadastro{
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 15px;
}

.catalog-list{
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
    list-style: none;
}

.catalog_div{
    text-align: left;
    vertical-align: top;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.page-selector{
    padding:30px;
    background-image: url(images/seta-esquerda.png), url(images/seta-direita.png);
    background-size: 20px 20px, 20px 20px;
    background-position: 0px center, 65px center;
    background-repeat: no-repeat;
}

  footer{
    background:  #444444;
    position:fixed;
    bottom: 0;
    height: 4vh;
    width: 100%;
 }